@import "colors";

$tablet: "screen and  (min-width: 768px)";
$computer: "screen and (min-width: 1200px)";

$textDefault: 0 0 1px black;
$centerAlignText: center;
$paddingDefault: 20px;
.padding {
  padding: $paddingDefault;
  &Double {
    padding: $paddingDefault * 2;
  }
  &Half {
    padding: $paddingDefault / 2;
  }
}

$widthDefault: 100%;
.width {
  width: $widthDefault;
  &Halv {
    width: $widthDefault / 5;
  }
  &Hel {
    width: $widthDefault / 10;
  }
}

@mixin blurText($blur: 3px) {
  color: transparent;
  text-shadow: 0 0 $blur rgba(0, 0, 0, 0.8);
}
h2 {
  text-align: $centerAlignText;
  @include blurText();
}
nav {
  background-color: complement($bodyColor);
  padding: 5px;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    li {
      list-style-type: none;
    }
  }
  a {
    text-decoration: none;
    color: $black;
    cursor: pointer;
  }

  a:hover {
    color: $green;
  }
}

.chart {
  background: conic-gradient(
                  $gray 0 30%,
                  $blue 0 50%,
                  $yellow 0 70%,
                  $purple 0 100%
  );
  border-radius: 50%;
  width: 40%;
  padding-top: 40%;
  float: left;
  margin-left: 30px;
}

.key {
  width: 50%;
  float: right;
  list-style: none;
  display: table;
  border-collapse: separate;
  li {
    display: table-row;
    * {
      display: table-cell;
      border-bottom: 5px solid $bodyColor;
    }
  }
}

.percent {
  color: $white;
  padding: 10px 2px;
  text-shadow: $textDefault;
  text-align: $centerAlignText;
}

.choice {
  padding-left: 10px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: $bodyColor;
}

.cards {
  position: absolute;
  bottom: 50px;
  right: 0;
  display: flex;
  flex-direction: row;
  line-height: 2.5;

  h2{
    position: absolute;
    bottom: 40px;
    right: 150px;
    @extend h2;
  }

  p {
    text-align: $centerAlignText;
    font-size: 15pt;
    margin: 0;
  }

  .card1 {
    width: 150px;
    height: 50px;
    background-color: $yellow;
    p:nth-child(2) {
      background-color: $gray;
      color: $white;
    }
  }
  .card2 {
    width: 150px;
    height: 50px;
    background-color: $gray;
    color: $white;
    p:nth-child(1) {
      background-color: $gray;
    }
    p:nth-child(2) {
      background-color: $gray;
    }
  }
  .card3 {
    width: 50px;
    height: 50px;
    background-color: $purple;
    p:nth-child(2) {
      background-color: $gray;
      color: $white;
    }
  }
  .card4 {
    width: 150px;
    height: 50px;
    background-color: $blue;
    p:nth-child(2) {
      background-color: $gray;
      color: $white;
    }
  }

}


